<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin job</title>
    <link rel="stylesheet" th:href="@{/css/adminmain.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
<!-- 상단: 사용자 이름 -->
<header>
    <h1 th:text="|관리자 ${userName}님, 환영합니다!|"></h1> <!-- 환영문구 -->
</header>

<!-- 중앙: 메뉴 버튼 -->
<main>
    <div class="menu-buttons">
        <a th:href="@{/jobadd}" class="menu-button admin-job">일자리 등록</a>
        <a th:href="@{/jobmanage}" class="menu-button admin-job">등록 일자리 관리</a>
        <a th:href="@{/faqmanage}" class="menu-button admin-job">FAQ 관리</a>
        <a th:href="@{/qnamanage}" class="menu-button admin-job">QnA 관리</a>
    </div>
</main>

<!-- 하단 아이콘 메뉴 -->
<!--  프로필 페이지(adminprofile.html)는 로그인 아이디값으로 개인 고유의 프로필 입장일 시 수정 필요-->
<div class="bottom-icons">
    <a th:href="@{/adminprofile}" class="icon-link"><i class="fa-solid fa-user" style="color: #000000;"></i></a>
    <a th:href="@{/adminmain}" class="icon-link"><i class="fa-solid fa-house" style="color: #000000;"></i></a>
    <a th:href="@{/mapAdmin}" class="icon-link"><i class="fa-solid fa-map" style="color: #000000;"></i></a>
</div>
</body>
</html>