<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>새로 등록된 일자리</title>
  <link rel="stylesheet" th:href="@{/css/jobnew.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
<header>
  <span class="text">새로 등록된 일자리</span>
</header>

<!-- 지도 -->
<div id="map"></div>

<div class="info-box">
  <div class="info-item left">등록일</div>
  <div class="info-item center">지역</div>
  <div class="info-item right">업무</div>
</div>

<!-- 중앙: 리스트 -->
<div class="new-jobs" id="jobList"></div>

<!-- 모달 -->
<div id="job-modal" class="modal" style="display:none;">
  <div class="modal-content">
    <div class="modal-header">
      <h2 id="modal-title">일자리 상세정보</h2>
    </div>
    <div class="modal-body">
      <div class="modal-map" id="modal-map"></div>
      <div class="modal-info-box">
        <p><strong>업무명:</strong> <span id="job-name"></span></p>
        <p><strong>월급:</strong> <span id="salary"></span></p>
        <p><strong>지역:</strong> <span id="location"></span></p>
        <p><strong>업체명:</strong> <span id="company"></span></p>
        <p><strong>연락처:</strong> <span id="contact"></span></p>
      </div>
      <button class="apply-btn">신청하기</button>
    </div>
  </div>
</div>

<!-- 하단 아이콘 메뉴 -->
<!--  프로필 페이지(profile.html)는 로그인 아이디값으로 개인 고유의 프로필 입장일 시 수정 필요-->
<div class="bottom-icons">
  <a href="profile.html" class="icon-link"><i class="fa-solid fa-user" style="color: #000000;"></i></a>
  <a href="main.html" class="icon-link"><i class="fa-solid fa-house" style="color: #000000;"></i></a>
  <a href="map.html" class="icon-link"><i class="fa-solid fa-map" style="color: #000000;"></i></a>
</div>
<script th:src="@{/js/jobnew.js}"></script>
</body>
</html>