<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지도 어드민</title>
    <link rel="stylesheet" th:href="@{/css/mapAdmin.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
<!-- 지도 -->
<div id="map"></div>

<!-- 하단 아이콘 메뉴 -->
<!--  프로필 페이지(profile.html)는 로그인 아이디값으로 개인 고유의 프로필 입장일 시 수정 필요-->
<div class="bottom-icons">
    <a href="adminprofile.html" class="icon-link"><i class="fa-solid fa-user" style="color: #000000;"></i></a>
    <a href="adminmain.html" class="icon-link"><i class="fa-solid fa-house" style="color: #000000;"></i></a>
    <a href="map.html" class="icon-link"><i class="fa-solid fa-map" style="color: #000000;"></i></a>
</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=388f60e5d406e9da08ab57134ab2dc46"></script>
<script>
    var container = document.getElementById('map');

    // 목원대 D관 위치 설정
    var options = {
        center: new kakao.maps.LatLng(36.32183, 127.3386),
        level: 3
    };

    var map = new kakao.maps.Map(container, options);
</script>
</body>
</html>