<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>어드민 프로필 수정</title>
  <link rel="stylesheet" th:href="@{/css/profileEditAdmin.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
<header>
  <span class="text"> 프로필 수정 </span>
</header>
<!-- 중앙: 메뉴 버튼 -->
<!-- 비밀번호를 제외한 모든 placeholder="내용" 값들은 예시 문구들입니다@@@ -->
<main>
  <div class="profile-box">
    <h3>이름</h3>
    <input type="text" id="name" placeholder="홍길동">

    <h3>생년월일</h3>
    <input type="date" id="birthdate" placeholder="1990-01-01">

    <h3>연락처</h3>
    <div class="phone-container">
      <input type="tel" id="phone" maxlength="11" placeholder="전화번호 입력"
             oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 11)">
      <button type="button" onclick="startVerification()">인증번호</button>
    </div>
    <div class="verification-container">
      <div class="input-with-timer">
        <input type="text" id="verification-code" maxlength="6" placeholder="인증번호 인증하기"
               oninput="this.value = this.value.replace(/[^0-9]/g, '')">
        <span id="timer">03:00</span>
      </div>
      <button type="button" onclick="verifyCode()">인증하기</button>
    </div>

    <h3>비밀번호 수정</h3>
    <div class="password-container">
      <input type="password" id="current-password" placeholder="현재 비밀번호">
      <button class="toggle-password" onclick="toggleAllVisibility()" type="button">
        <i id="toggle-icon-all" class="fa-regular fa-eye"></i>
      </button>
    </div>

    <div class="password-container">
      <input type="password" id="new-password" placeholder="새 비밀번호">
    </div>

    <div class="password-container">
      <input type="password" id="confirm-password" placeholder="새 비밀번호 확인">
    </div>

    <!-- 새 비밀번호 수정하기 버튼 추가 -->
    <button id="change-password-btn" class="disease-button">비밀번호 수정하기</button>

    <h3>성별</h3>
    <div class="gender-buttons">
      <button type="button" class="gender-btn" data-gender="M" onclick="selectGender(this)">남성</button>
      <button type="button" class="gender-btn" data-gender="F" onclick="selectGender(this)">여성</button>
    </div>
  </div>
</main>

<!-- 하단 아이콘 메뉴 -->
<!--  프로필 페이지(profile.html)는 로그인 아이디값으로 개인 고유의 프로필 입장일 시 수정 필요-->
<div class="bottom-icons">
  <a th:href="@{/adminprofile}" class="icon-link"><i class="fa-solid fa-user" style="color: #000000;"></i></a>
  <a th:href="@{/adminmain}" class="icon-link"><i class="fa-solid fa-house" style="color: #000000;"></i></a>
  <a th:href="@{/mapAdmin}" class="icon-link"><i class="fa-solid fa-map" style="color: #000000;"></i></a>
</div>
<script th:src="@{/js/profileEditAdmin.js}"></script>
</body>
</html>